### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule start index.html
RewriteRule kontakt contact.html
RewriteRule galeria gallery.html
RewriteRule zespol team.html
RewriteRule cennik tariff.html
