html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #70838d;
}
html h3,
body h3 {
  font-size: 24px;
}
html h4,
body h4 {
  font-size: 20px;
}

.images-container {
  width: 100vw;
  height: 100vh;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.07;
}

.wave {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
}
@media (max-width: 1050px) {
  .wave {
    display: none;
  }
}

.contact-bar {
  background-color: white;
  width: 65vw;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  border-bottom-left-radius: 100px;
}
@media (max-width: 1050px) {
  .contact-bar {
    display: none;
  }
}

.text-container {
  text-align: right;
  font-size: 14px;
  margin-right: 50px;
  padding: 18px 0;
}

.normal-weight {
  font-weight: 400;
}

.medium-weight {
  font-weight: 500;
}

nav {
  width: 90%;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
@media (max-width: 1050px) {
  nav {
    top: 0;
    z-index: 5;
    background-color: white;
    padding: 10px 0;
    width: 100%;
  }
}

.logo {
  display: flex;
}
.logo img {
  position: relative;
}
.logo span {
  display: block;
}
@media (max-width: 1050px) {
  .logo {
    margin-left: 10px;
    height: 40px;
    z-index: 5;
  }
}

.logo-text {
  margin: 20px 0 0 10px;
}
@media (max-width: 1050px) {
  .logo-text {
    margin: 5px 0 0 10px;
  }
}

.navbar {
  display: flex;
}
@media (max-width: 1050px) {
  .navbar {
    display: none;
  }
}
.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
  float: right;
  margin-left: 50px;
}

.hamburger {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 5;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* show the menu image */
  background-image: url("../img/burger.svg");
  width: 20px;
  background-size: 100%;
  display: none;
}
@media (max-width: 1050px) {
  .hamburger {
    display: block;
  }
}

.cross {
  background-image: url("../img/cross.svg");
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
.menu ul {
  list-style: none;
  text-align: center;
  margin-top: 200px;
  padding: 0;
}
.menu ul li {
  margin-top: 30px;
}
.menu ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 24px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  width: 100%;
}
@media (max-width: 1050px) {
  footer {
    flex-direction: column;
  }
}

.logo-column {
  display: flex;
  flex-direction: column;
}
.logo-column img {
  width: 60px;
}

.footer-logo {
  margin-left: 0;
}
@media (max-width: 1050px) {
  .footer-logo {
    width: 100px;
  }
}

.tsc-sign {
  display: flex;
  margin: 30px 0;
  font-size: 14px;
}
.tsc-sign p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.tsc-sign a {
  margin-left: 5px;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1050px) {
  .tsc-sign {
    display: none;
  }
}

.tsc-sign-mobile {
  display: none;
}
@media (max-width: 1050px) {
  .tsc-sign-mobile {
    display: flex;
    margin-top: 60px;
  }
}

.phone-circle {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(#E1E25E, #D8EE50);
}

.phone {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
}

.smart {
  top: 18%;
}

.contact {
  display: flex;
  margin-top: 20px;
  margin-left: 120px;
}
.contact span {
  display: block;
  margin-top: 1px;
}
@media (max-width: 1050px) {
  .contact {
    margin-left: 0;
    margin-top: 60px;
  }
}

.bottom-questions {
  margin-left: 120px;
}
@media (max-width: 1050px) {
  .bottom-questions {
    display: block;
    margin-left: 0;
    margin-top: 50px;
  }
}

.contact-options {
  display: flex;
}
@media (max-width: 1050px) {
  .contact-options {
    flex-direction: column;
  }
}

.number {
  color: #3F4549;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 400px) {
  .number {
    font-size: 16px;
  }
}

.contact-data {
  margin-left: 20px;
}

.wavy-wave {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;
}
@media (max-width: 1050px) {
  .wavy-wave {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */
