html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #70838d;
}
html h3,
body h3 {
  font-size: 24px;
}
html h4,
body h4 {
  font-size: 20px;
}

.images-container {
  width: 100vw;
  height: 100vh;
}

.bg-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Galeria4mono.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.07;
}
.bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffffff", GradientType=0 );
}

.contact-bar {
  background-color: white;
  width: 65vw;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  border-bottom-left-radius: 40px;
}
@media (max-width: 1050px) {
  .contact-bar {
    display: none;
  }
}

.text-container {
  text-align: right;
  font-size: 14px;
  margin-right: 5vw;
  padding: 18px 0;
}

.normal-weight {
  font-weight: 400;
}

.medium-weight {
  font-weight: 500;
}

nav {
  width: 90%;
  top: 85px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
@media (max-width: 1050px) {
  nav {
    top: 0;
    z-index: 5;
    background-color: white;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
  }
}

nav.scrolled {
  transition: padding 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
}
@media (min-width: 1050px) {
  nav.scrolled {
    background: white;
    top: 0;
    width: 100%;
    padding: 30px 0;
  }
  nav.scrolled .logo {
    padding-left: 30px;
  }
  nav.scrolled .logo img {
    width: 39px;
  }
  nav.scrolled ul {
    padding-right: 30px;
  }
}

a[href="index.html"] {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  position: relative;
}
.logo span {
  display: block;
}
@media (max-width: 1050px) {
  .logo {
    height: 40px;
    z-index: 5;
    margin-left: 15px;
  }
  .logo img {
    width: 39px;
  }
}

.logo-text {
  color: #70838d;
  margin-left: 15px;
}

.navbar {
  display: flex;
}
@media (max-width: 1050px) {
  .navbar {
    display: none;
  }
}
.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  transition: all ease-in-out 0.2s;
}
.navbar a:hover {
  opacity: 0.8;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
  float: right;
  margin-left: 50px;
}

.active {
  color: #3F4549 !important;
}

.hamburger {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 5;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* show the menu image */
  background-image: url("../img/burger.svg");
  width: 20px;
  background-size: 100%;
  display: none;
}
@media (max-width: 1050px) {
  .hamburger {
    display: block;
  }
}

.cross {
  background-image: url("../img/cross.svg");
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
.menu ul {
  list-style: none;
  text-align: center;
  margin-top: 120px;
  padding: 0;
}
.menu ul li {
  margin-top: 30px;
}
.menu ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 24px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  width: 100%;
}
@media (max-width: 1050px) {
  footer {
    flex-direction: column;
  }
}

.logo-column {
  display: flex;
  flex-direction: column;
}
.logo-column img {
  width: 60px;
}

.footer-logo {
  margin-left: 0;
}
@media (max-width: 1050px) {
  .footer-logo {
    width: 100px;
  }
}

.tsc-sign {
  display: flex;
  margin: 30px 0;
  font-size: 14px;
}
.tsc-sign p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.tsc-sign a {
  margin-left: 5px;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1050px) {
  .tsc-sign {
    display: none;
  }
}

.tsc-sign-mobile {
  display: none;
}
@media (max-width: 1050px) {
  .tsc-sign-mobile {
    display: flex;
    margin-top: 60px;
  }
}

.phone-circle {
  min-width: 48px;
  height: 48px;
  border-radius: 40px;
  background: linear-gradient(#E1E25E, #D8EE50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  margin-top: 20px;
  margin-left: 120px;
}
.contact span {
  display: block;
  margin-top: 1px;
}
@media (max-width: 1050px) {
  .contact {
    margin-left: 0;
    margin-top: 40px;
  }
}

.bottom-questions {
  margin-left: 120px;
}
@media (max-width: 1050px) {
  .bottom-questions {
    display: block;
    margin-left: 0;
    margin-top: 50px;
  }
}

.contact-options {
  display: flex;
}
@media (max-width: 1050px) {
  .contact-options {
    flex-direction: column;
  }
}

.number {
  color: #3F4549;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 400px) {
  .number {
    font-size: 16px;
  }
}

.contact-data {
  margin-left: 20px;
}

.wavy-wave {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;
}
@media (max-width: 1050px) {
  .wavy-wave {
    display: none;
  }
}

.content {
  width: 80%;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  right: 0;
  left: 0;
}
@media (max-width: 1050px) {
  .content {
    top: 120px !important;
  }
}

.wave1 {
  top: 500px !important;
}

.wave2 {
  top: 1000px !important;
}

.wave3 {
  top: 1400px !important;
}

/*# sourceMappingURL=base.css.map */
