@use 'variables';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: variables.$text-light-gray;

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
}

// BACKGROUND, CONTACT, NAV

.images-container {
  width: 100vw;
  height: 100vh;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.07;
}

.wave {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;

  @media (max-width: 1050px) {
    display: none;
  }
}

.contact-bar {
  background-color: white;
  width: 65vw;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  border-bottom-left-radius: 100px;

  @media (max-width: 1050px) {
    display: none;
  }
}

.text-container {
  text-align: right;
  font-size: 14px;
  margin-right: 50px;
  // 2 * 18 + 14 = 50
  padding: 18px 0;
}

.normal-weight {
  font-weight: 400;
}

.medium-weight {
  font-weight: 500;
}

nav {
  width: 90%;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  position: fixed;

  @media (max-width: 1050px) {
    // display: none;
    top: 0;
    z-index: 5;
    background-color: white;
    padding: 10px 0;
    width: 100%;
  }
}

// LOGO

.logo {
  display: flex;

  img {
    position: relative;
  }

  span {
    display: block;
  }

  @media (max-width: 1050px) {
    margin-left: 10px;
    height: 40px;
    z-index: 5;
  }
}

.logo-text {
  margin: 20px 0 0 10px;

  @media (max-width: 1050px) {
    margin: 5px 0 0 10px;
  }
}

// NAVBAR

.navbar {
  display: flex;

  @media (max-width: 1050px) {
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      float: right;
      margin-left: 50px;
    }
  }
}

// BURGER
.hamburger {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 5;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* show the menu image */
  background-image: url("../img/burger.svg");
  width: 20px;
  background-size: 100%;
  display: none;
  @media (max-width: 1050px) {
    display: block;
  }
}

.cross {
  background-image: url("../img/cross.svg");
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100vw;
  height: 100vh;

  ul {
    list-style: none;
    text-align: center;
    margin-top: 200px;
    padding: 0;

    li {
      margin-top: 30px;
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
}

// FOOTER

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  width: 100%;

  @media (max-width: 1050px) {
    flex-direction: column;
  }
}

.logo-column {
  display: flex;
  flex-direction: column;

  img {
    width: 60px;
  }
}

.footer-logo {
  margin-left: 0;

  @media (max-width: 1050px) {
    width: 100px;
  }
}

.tsc-sign {
  display: flex;
  margin: 30px 0;
  font-size: 14px;

  p {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }

  a {
    margin-left: 5px;
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 1050px) {
    display: none;
  }
}

.tsc-sign-mobile {
  display: none;

  @media (max-width: 1050px) {
    display: flex;
    margin-top: 60px;
  }
}

.phone-circle {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(variables.$lime1, variables.$lime2);
}

.phone {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
}

.smart {
  top: 18%;
}

.contact {
  display: flex;
  margin-top: 20px;
  margin-left: 120px;

  span {
    display: block;
    margin-top: 1px;
  }

  @media (max-width: 1050px) {
    margin-left: 0;
    margin-top: 60px;
  }
}

.bottom-questions {
  margin-left: 120px;
  @media (max-width: 1050px) {
    display: block;
    margin-left: 0;
    margin-top: 50px;
  }
}

.contact-options {
  display: flex;

  @media (max-width: 1050px) {
    flex-direction: column;
  }
}

.number {
  color: variables.$text-black;
  font-size: 24px;
  font-weight: 500;

  @media (max-width: 400px) {
    font-size: 16px;
  }
}

.contact-data {
  margin-left: 20px;
}

// GLOBAL UTILS

.wavy-wave {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;

  @media (max-width: 1050px) {
    display: none;
  }
}

.content {
  width: 90%;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  right: 0;
  left: 0;
}
