@use 'variables';
@import "mixins";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: variables.$text-light-gray;

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
}

// BACKGROUND, CONTACT, NAV

.images-container {
  width: 100vw;
  height: 100vh;
}

.bg-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Galeria4mono.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.07;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include bg-transition;
  }
}

.contact-bar {
  background-color: white;
  width: 65vw;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  border-bottom-left-radius: 40px;

  @media (max-width: 1050px) {
    display: none;
  }
}

.text-container {
  text-align: right;
  font-size: 14px;
  margin-right: 5vw;
  // 2 * 18 + 14 = 50
  padding: 18px 0;
}

.normal-weight {
  font-weight: 400;
}

.medium-weight {
  font-weight: 500;
}

nav {
  width: 90%;
  top: 85px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  @media (max-width: 1050px) {
    top: 0;
    z-index: 5;
    background-color: white;
    height: 60px;
    width: 100%;
    margin: 0 auto;
  }
}

nav.scrolled {
  transition: padding 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  @include shadow;

  @media (min-width: 1050px) {
    background: white;
    top: 0;
    width: 100%;
    padding: 30px 0;

    .logo {
      padding-left: 30px;
      img {
        width: 39px;
      }
    }

    ul {
      padding-right: 30px;
    }
  }
}

// LOGO
a[href="index.html"] {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;

  img {
    position: relative;
  }

  span {
    display: block;
  }

  @media (max-width: 1050px) {
    height: 40px;
    z-index: 5;
    margin-left: 15px;

    img {
      width: 39px;
    }
  }
}

.logo-text {
  color: variables.$text-light-gray;
  margin-left: 15px;
}

// NAVBAR
.navbar {
  display: flex;

  @media (max-width: 1050px) {
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
    transition: all ease-in-out 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      float: right;
      margin-left: 50px;
    }
  }
}

.active {
  color: variables.$text-black !important;
}

// BURGER
.hamburger {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 5;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* show the menu image */
  background-image: url("../img/burger.svg");
  width: 20px;
  background-size: 100%;
  display: none;
  @media (max-width: 1050px) {
    display: block;
  }
}

.cross {
  background-image: url("../img/cross.svg");
}

.menu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100vw;
  height: 100vh;

  ul {
    list-style: none;
    text-align: center;
    margin-top: 120px;
    padding: 0;

    li {
      margin-top: 30px;
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
}

// FOOTER

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  width: 100%;

  @media (max-width: 1050px) {
    flex-direction: column;
  }
}

.logo-column {
  display: flex;
  flex-direction: column;

  img {
    width: 60px;
  }
}

.footer-logo {
  margin-left: 0;

  @media (max-width: 1050px) {
    width: 100px;
  }
}

.tsc-sign {
  display: flex;
  margin: 30px 0;
  font-size: 14px;

  p {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }

  a {
    margin-left: 5px;
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 1050px) {
    display: none;
  }
}

.tsc-sign-mobile {
  display: none;

  @media (max-width: 1050px) {
    display: flex;
    margin-top: 60px;
  }
}

.phone-circle {
  min-width: 48px;
  height: 48px;
  border-radius: 40px;
  background: linear-gradient(variables.$lime1, variables.$lime2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  margin-top: 20px;
  margin-left: 120px;

  span {
    display: block;
    margin-top: 1px;
  }

  @media (max-width: 1050px) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.bottom-questions {
  margin-left: 120px;
  @media (max-width: 1050px) {
    display: block;
    margin-left: 0;
    margin-top: 50px;
  }
}

.contact-options {
  display: flex;

  @media (max-width: 1050px) {
    flex-direction: column;
  }
}

.number {
  color: variables.$text-black;
  font-size: 24px;
  font-weight: 500;

  @media (max-width: 400px) {
    font-size: 16px;
  }
}

.contact-data {
  margin-left: 20px;
}

// GLOBAL UTILS

.wavy-wave {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;

  @media (max-width: 1050px) {
    display: none;
  }
}

.content {
  width: 80%;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  right: 0;
  left: 0;

  @media (max-width: 1050px) {
    top: 120px !important;
  }
}

.wave1 {
  top: 500px !important;
}

.wave2 {
  top: 1000px !important;
}

.wave3 {
  top: 1400px !important;
}
