@use 'variables';
@import "mixins";

.upper-content {
  h3 {
    color: variables.$text-black;
    font-size: 36px;
  }

  p {
    max-width: 750px;
    text-align: justify;
    line-height: 1.5;
  }
}

#lightgallery {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.gallery-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .item {
    width: 33.333%;
    margin-right: 30px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    @include shadow;

    &::before,
    &::after {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &::before {
      transition: all ease-in-out 0.2s;
      @include gallery-hover;
    }

    &::after {
      transition: all ease-in-out 0.5s;
      background: url(../img/zoom.svg) no-repeat center;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }

  .item:last-of-type {
    margin-right: 0;
  }

  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    .item {
      width: 100%;
      margin-right: 0;
    }
  }
}

.thumbnail {
  width: 100%;
  height: 100%;

  @media (max-width: 1050px) {
    margin-bottom: 30px;
    width: 100%;
  }
}
