@use 'variables';
@import "mixins";

.background-img {
  @media (max-width: 1050px) {
    height: 250%;
  }
}

.upper-content {
  h3 {
    color: variables.$text-black;
    font-size: 36px;
  }

  p {
    max-width: 750px;
    text-align: justify;
    line-height: 1.5;
  }
}

#lightgallery {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.gallery-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .item {
    width: 33.333%;
    margin-right: 30px;
  }

  .item:last-of-type {
    margin-right: 0;
  }

  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    .item {
      width: 100%;
      margin-right: 0;
    }
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  @include shadow;

  @media (max-width: 1050px) {
    margin-bottom: 30px;
    width: 100%;
  }
}
