@use 'variables';

.content {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 200px;
  right: 0;
}

.mid-content {
  display: flex;
  justify-content: space-between;

  h1 {
    color: variables.$text-black;
    font-size: 64px;

    @media (max-width: 1050px){
      font-size: 36px;
    }
  }

  h3 {
    color: variables.$text-dark-gray;
    font-weight: normal;
    font-size: 32px;

    @media (max-width: 1050px){
      font-size: 24px;
    }
  }
}

.dentist-photo {
  width: 43%;
  object-fit: cover;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;

  @media(max-width: 1300px){
    display: none;
  }
}

.text-column {
  margin-left: 150px;

  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: variables.$text-black;
  }

  @media(max-width: 1050px) {
    max-width: 85%;
    margin-left: 30px;
  }
}

.arrow-button {

  background: linear-gradient(variables.$lime1, variables.$lime2);;
  width: 200px;
  padding: 20px 40px;
  border-radius: 50px;

  img {
    width: 20px;
    float: right;
  }
}

.bottom-content {
  margin-left: 150px;

  @media(max-width: 1300px){
    margin-top: 30px;
  }

  @media(max-width: 1050px) {
    margin-left: 30px;
  }
}