@use 'variables';
@import "mixins";

.upper-content {
  h3 {
    color: variables.$text-black;
    font-size: 36px;
  }

  p {
    margin-bottom: 30px;
  }
}

.wave4 {
  top: 1900px !important;
}

.wave5 {
  top: 2000px !important;
}

.icon-row {
  display: flex;
}

.icon {
  display: flex;
  background: linear-gradient(variables.$lime1, variables.$lime2);
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 40px;

  span {
    margin-left: 10px;
    font-weight: 300;
    color: variables.$text-black;
  }
}

.tariff-content {
  margin-top: 120px;

  h4 {
    color: variables.$text-black;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.service {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px 30px;
  border-radius: 40px;
  color: variables.$text-black;
  margin-bottom: 10px;

  @include shadow;
}

.name {
  margin-left: 10px;
}

.price {
  margin-right: 10px;
  text-align: right;
}
