@use 'variables';

.background-img {
  height: 140%;
  object-fit: cover;

  @media (max-width: 1050px) {
    height: 250%;
  }
}

.content {
  width: 90%;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  right: 0;
  left: 0;
}

.desc {
  display: flex;
  justify-content: space-between;

  img {
    width: 55%;
    border-radius: 40px;
    object-fit: cover;
  }

  @media (max-width: 1050px) {
    flex-direction: column-reverse;

    img {
      width: 100%;
    }
  }
}

.team-block {
  width: 40%;
  align-self: center;

  h3 {
    font-size: 36px;
    color: variables.$text-black;
  }

  p {
    font-size: 16px;
    width: 80%;
    line-height: 1.5;
    text-align: justify;
  }

  @media (max-width: 1050px) {
    width: 100%;
    p {
      width: 100%;
    }
  }
}

.people {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.person-box {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  background-color: white;
  border-radius: 40px;
  padding: 50px 0;
  margin-bottom: 70px;

  p {
    text-align: justify;
  }

  @media (max-width: 1050px) {
    background-color: transparent;
    flex-direction: column;
    opacity: 1;
  }
}

.right-box {
  margin-left: auto;

  @media (max-width: 1050px) {
    flex-direction: column-reverse;
    margin-left: 0;
  }
}

.images {
  display: flex;
  flex-direction: column;

  @media (max-width: 1050px) {
    margin: 0 auto;
  }
}

.right-images {
  margin-right: -50px;

  @media (max-width: 1050px) {
    margin: 0 auto;
  }
}

.base-portrait {
  width: 256px;
  height: 256px;
  object-fit: cover;
  border-radius: 40px;
  margin-top: -60px;
}

.left-portrait {
  margin-left: -20px;

  @media (max-width: 1050px) {
    margin-left: 0;
  }
}

.right-portrait {
  margin-right: -20px;

  @media (max-width: 1050px) {
    margin-right: 0;
  }
}

.base-ellipse {
  width: 80px;
}

.left-ellipse {
  margin-left: -50px;

  @media (max-width: 1050px) {
    margin-left: -30px;
  }
}

.right-ellipse {
  margin-left: 200px;
}

.base-description {
  max-width: 500px;
  margin-left: 50px;
  margin-right: 50px;

  h3,
  h4 {
    font-weight: 500;
  }

  h3 {
    color: variables.$text-black;
  }

  p {
    line-height: 1.5;
  }

  @media (max-width: 1050px) {
    margin-left: 0;
    margin-right: 0;

    h3 {
      display: none;
    }

    h4 {
      text-align: left;
    }
  }
}

.left-description {
}

.right-description {

  h3,
  h4 {
    text-align: right;
  }

  @media(max-width: 1050px) {
    h4 {
      text-align: left;
    }
  }
}

.mobile-title {
  display: none;

  @media (max-width: 1050px) {
    display: block;
    color: variables.$text-black;
  }
}
